@media screen and (max-width: 1031px) {
    body {
        background: red;
    }
}

@media screen and (max-width: 1024px) {
    body {
        background: red;
    }
}

@media screen and (max-width: 1024px) {
    body {
        background: red;
    }
}

@media screen and (max-width: 1024px) {
    body {
        background: red;
    }
}

@media screen and (max-width: 1024px) {
    body {
        background: red;
    }
}